<app-background-layout></app-background-layout>

<div class="fixed inset-0 bg-black/30 flex items-center justify-center z-50" [class.hidden]="!isLoading">
  <img src="./Logo.png"
       alt="Loading"
       class="w-48 h-48 animate-pulse drop-shadow-xl" />
</div>

<div class="relative h-screen -m-4 overflow-hidden">
  <div class="absolute inset-0 flex md:flex-row flex-col md:items-center ps-16">
    <div class="text-white text-center md:text-start my-5">
      <h1 class="text-4xl font-bold mb-4">{{'dashboard.Welcome Doctor 👋' | translate}}</h1>
      <p class="text-lg text-gray-200 mb-6">{{'dashboard.Start exploring our features and discover what you can do.' | translate}}</p>
      <button class="bg-blue-600 hover:bg-blue-700 text-white px-6 py-2 rounded-lg shadow" [routerLink]="['/DoctorAppointments']">
        {{'dashboard.View Appointments' | translate}}
      </button>
    </div>

    <div class="mx-auto overflow">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-2xl font-bold text-white">{{'dashboard.Schedule' | translate}}</h2>
        <button
          class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition duration-200 cursor-pointer"
          (click)="ToggleEdit()">{{'dashboard.Edit' | translate}}</button>
      </div>

      <table class="bg-white rounded-lg shadow-md overflow-hidden">
        <thead class="bg-blue-500 text-white">
          <tr>
            <th class="px-6 py-3 text-left font-semibold text-xs md:text-sm uppercase">{{'dashboard.Day' | translate}}</th>
            <th class="px-6 py-3 text-right font-semibold text-xs md:text-sm uppercase">{{'dashboard.From' | translate}}</th>
            <th class="px-6 py-3 text-right font-semibold text-xs md:text-sm uppercase">{{'dashboard.To' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          @for (day of scheduleForm.get("schedules")?.value; track $index) {
          <tr class="border-t border-gray-200 even:bg-gray-100">
            <td class="px-6 py-4 text-xs md:text-sm text-gray-800">{{`dashboard.${day.day}` | translate}}</td>
            <td class="px-6 py-4 text-xs md:text-sm text-right text-gray-700">
              {{day.from.split(':').slice(0,2).join(':')}}</td>
            <td class="px-6 py-4 text-xs md:text-sm text-right text-gray-700">{{day.to.split(':').slice(0,2).join(':')}}
            </td>
          </tr>
          }
          @empty {
          <tr class="border-t border-gray-200">
            <td colspan="3" class="px-6 py-4 text-center text-sm text-gray-500">
              {{'dashboard.No schedules available.' | translate}}
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>

  </div>
</div>



@if(editSchedule){
<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <div
        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">

            <div class="mt-3 w-full text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3 class="text-base font-semibold text-gray-900" id="modal-title">{{'dashboard.Edit Schedule' | translate}}</h3>
              @if(invalidSchedule){
              <p class="mt-1 text-red-400">{{'dashboard.Invalid. Please enter a valid time' | translate}}</p>
              }

              <div class="mt-2">
                @for (day of days; track $index) {
                <div class="flex justify-between align-center md:flex-row flex-col px-6 mb-2">
                  <div>
                    <input type="checkbox" [checked]="scheduleForm.get('schedules')?.value[day]?.from !== '--:--'"
                      [value]="day" [name]="day" [id]="day">
                    <label class="ml-2" [for]="day">{{ `dashboard.${day}`| translate }}</label>
                  </div>
                  <div>
                    <h3>
                      {{'dashboard.From:' | translate}}
                      <input type="time" [value]="scheduleForm.get('schedules')?.value[day]?.from" [id]="day + 'from'">
                      , {{'dashboard.To:' | translate}}
                      <input type="time" [value]="scheduleForm.get('schedules')?.value[day]?.to" [id]="day + 'to'">
                    </h3>
                  </div>
                </div>
                }

              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
          <button type="button" (click)="SaveSchedule()"
            class="inline-flex cursor-pointer w-full justify-center rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-green-500 sm:ml-3 sm:w-auto">{{'dashboard.Save' | translate}}</button>
          <button type="button" (click)="ToggleEdit()"
            class="mt-3 cursor-pointer inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 shadow-xs ring-gray-300 ring-inset hover:bg-gray-100 sm:mt-0 sm:w-auto">{{'dashboard.Cancel' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
}