@if(editSchedule){
    <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
      <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>
    
      <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <div
            class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
              <div class="sm:flex sm:items-start">
    
                <div class="mt-3 w-full text-center sm:mt-0 sm:ml-4 sm:text-left">
                  <h3 class="text-base font-semibold text-gray-900" id="modal-title">Edit Schedule</h3>
               
                  <div class="mt-3 mb-1">
                    
                    @for (day of daysOfWeek; track $index) {
                        <div class="flex justify-between align-center flex-col md:flex-row px-6 mb-2">
                            <div>
                              <label class="" [for]="day">{{ day }}</label>
                            </div>
                            <div>
                              <h3>
                                From: 
                                <input type="time" 
                                       [value]="" 
                                       [id]="day + 'From'">
                                , To: 
                                <input type="time" 
                                       [value]="" 
                                       [id]="day + 'To'">
                              </h3>
                            </div>
                          </div>
                    }

                  </div>
                </div>
              </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
              <button type="button" (click)="SaveSchedule()"
                class="inline-flex cursor-pointer w-full justify-center rounded-md bg-green-500 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-green-400 sm:ml-3 sm:w-auto">Save</button>
              <button type="button" (click)="ToggleSchedule()"
                class="mt-3 cursor-pointer inline-flex w-full justify-center rounded-md bg-red-500 px-3 py-2 text-sm font-semibold text-white ring-1 shadow-xs ring-gray-300 ring-inset hover:bg-red-400 sm:mt-0 sm:w-auto">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    }



<div class="container mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-2xl font-bold text-gray-800">Schedule</h2>
      <button class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition duration-200 cursor-pointer" (click)="ToggleSchedule()">Edit</button>
    </div>

    <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-md overflow-hidden">
      <thead class="bg-blue-500 text-white">
        <tr>
          <th class="px-6 py-3 text-left font-semibold text-sm uppercase">Day</th>
          <th class="px-6 py-3 text-right font-semibold text-sm uppercase">From</th>
          <th class="px-6 py-3 text-right font-semibold text-sm uppercase">To</th>
        </tr>
      </thead>
      <tbody>
        @for (day of days; track $index) {
        <tr class="border-t border-gray-200 even:bg-gray-100">
          <td class="px-6 py-4 font-medium text-gray-800">{{day.Day}}</td>
          <td class="px-6 py-4 text-right text-gray-700">{{day.From}}</td>
          <td class="px-6 py-4 text-right text-gray-700">{{day.To}}</td>
        </tr>
    }
      </tbody>
    </table>
  </div>